*{
    font-family: "Poppins", sans-serif;
}

.navbar{
    padding: 10xp 0 10px 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: all 0.2s ease-in-out;
}

.navbar.color-active{
    background-color: #212529;
    transform: scaleY(1);
    padding: 15px 0 15px 0;
}
.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)
    ) ,url(../assets/img/hero/profil.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 100px;
}

.hero h1{
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: bold;
}

.gallery img{
    height: 300px;
}

.footer{
    background-color: #212529;
}

/* .footer .Row:nth-child(2) {
    padding-top: 100px;
} */


@media screen and (max-width: 992px) {
    .services {
        padding-top: 100px;
    }
}